@model Web.ViewModels.Deposit.TakeDepositViewModel
@{
    ViewData[index: "Title"] = "Create";
}


<h1>Сделать депозитный счёт</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TakeDeposit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Далее" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div> *@
@*     <a asp-action="ManagerList">Вернуться к списку</a> *@
@* </div> *@