@using System
@model Web.ViewModels.TransferViewModel


<div class="row">
	<form method="post" asp-action="Transfer">

		<div class="form-group">
			<label for="formGroupExampleInput">Откуда пока только ID</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" asp-for="IdFrom">
		</div>


		<div class="form-group">
			<label for="formGroupExampleInput2">Куда пока только ID</label>
			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input"
			       asp-for="IdTo">
		</div>

		<div class="form-group">
			<label for="formGroupExampleInput2">Сколько</label>
			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" asp-for="Amount">
		</div>

		<input type="submit" class="btn btn-primary form-control">
	</form>

</div>