@using Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Смена валюты для аккаунта
</h1>
<div>
    @User.Identity.Name
    @User.Identity.IsAuthenticated
</div>

@section Scripts {
    <script type="text/javascript" src="~/client/CurrencyConvertor.js"></script>
}