@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Смена валюты для аккаунта
</h1>
<div id="content">

</div>

@section Scripts {
    <script type="text/javascript" src="~/client/CurrencyConvertor.js"></script>
}