@using System
@model Web.ViewModels.ClientCreateViewModel

@{
	Layout = "_Layout";
	ViewData[index: "Title"] = "Добавление нового клиента";
}

<h4>Добавление нового клиента</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateClient">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Client.Login" class="control-label">Email</label>
                <input asp-for="Client.Login" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <label asp-for="Client.Address" class="control-label"></label>
                <input asp-for="Client.Address" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Client.TelNumber" class="control-label"></label>
                <input asp-for="Client.TelNumber" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="IsPhysicalPerson" class="control-label"></label>
                <select asp-for="IsPhysicalPerson" class="form-control">
                    <option value="true">Физическое Лицо</option>
                    <option value="false">Юридическое Лицо</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Далее" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>